 
module cobbler_local 1.0;

require {
	type admin_home_t;
	type cobblerd_t;
	type cobbler_tmp_t;
	type cobbler_var_lib_t;
	type cobbler_var_log_t;
	type consoletype_exec_t;
	type etc_t;
	type httpd_cobbler_content_t;
	type httpd_exec_t;
	type initrc_exec_t;
	type iptables_initrc_exec_t;
	type iso9660_t;
	type ldconfig_exec_t;
	type public_content_t;
	type rpm_var_lib_t;
	type rsync_etc_t;
	type security_t;
	type tftpdir_rw_t;
	type tmp_t;
	type tmpfs_t;
	type var_lib_t;
	class capability { fsetid sys_module sys_tty_config };
	class dir { add_name create getattr open read remove_name rmdir search write };
	class file { create execute execute_no_trans getattr link lock open read unlink write };
	class lnk_file create;
	class unix_dgram_socket create;
}

#============= cobblerd_t ==============
allow cobblerd_t admin_home_t:dir search;
allow cobblerd_t cobbler_tmp_t:file execute;
allow cobblerd_t cobbler_var_lib_t:lnk_file create;
allow cobblerd_t cobbler_var_log_t:dir remove_name;
allow cobblerd_t consoletype_exec_t:file { execute execute_no_trans getattr open read };
allow cobblerd_t etc_t:file write;
allow cobblerd_t httpd_cobbler_content_t:dir { add_name create remove_name rmdir write };
allow cobblerd_t httpd_cobbler_content_t:file { create open write };
allow cobblerd_t httpd_exec_t:file { execute execute_no_trans getattr open read };
allow cobblerd_t initrc_exec_t:file { execute execute_no_trans getattr open read };
allow cobblerd_t iptables_initrc_exec_t:file { execute execute_no_trans getattr open read };
allow cobblerd_t iso9660_t:dir { getattr open read search };
allow cobblerd_t iso9660_t:file { getattr open read };
allow cobblerd_t ldconfig_exec_t:file { execute execute_no_trans getattr open read };
allow cobblerd_t public_content_t:dir { add_name create remove_name rmdir write };
allow cobblerd_t public_content_t:file { create link unlink write };
allow cobblerd_t rpm_var_lib_t:dir { getattr open read search write };
allow cobblerd_t rpm_var_lib_t:file { getattr lock open read write };
allow cobblerd_t rsync_etc_t:file create;
allow cobblerd_t security_t:dir read;
allow cobblerd_t self:capability { fsetid sys_tty_config };
allow cobblerd_t self:unix_dgram_socket create;
allow cobblerd_t tftpdir_rw_t:file { getattr open read unlink write };
allow cobblerd_t tftpdir_rw_t:dir { rmdir };
allow cobblerd_t tmp_t:dir { add_name create remove_name rmdir write };
allow cobblerd_t tmp_t:file { create getattr open read unlink write };
allow cobblerd_t tmpfs_t:dir search;
allow cobblerd_t cobbler_var_log_t:dir { create read };
allow cobblerd_t var_lib_t:file getattr;

